.wrapper{
	width: 90%;
	max-width: 900px;
	margin: auto;	
}

.header{
	overflow: auto;
}

	.header h1{
		float: left;
		color: red;
		font-size: 50px;
		font-family: tahoma;
	}

	.header h3{
		float: right;
		margin-top: 55px;
		color: red;
		font-family: tahoma;
		width: 130px;
	}

.content {
	width: 60%;
	float: left;
}
	.content img{
		float: left;
		width: 200px;
		margin-right: 5px;
	}

.calender{
	width: 38%;
	float: right;
}
